.cities-page {
  background-image: url("../../assets/images/istockphoto-993738504-612x612.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 95vh;
}

.cities-page__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
