.cities__btn {
  font-size: 10px;
  width: 50px;
  background-color: rgba(27, 125, 161, 0.9);
  border: 1px solid #2193b0;
  border-radius: 5px;
  outline: none;
  color: white;
  cursor: pointer;
}
.cities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}