.global-nav {
  background-color: rgba(0, 0, 0, 0.8);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__options {
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100% - 50px);
    width: 400px;
    background-color: rgba(0, 0, 0, .6);
    flex-direction: column;
    justify-content: center;
    transform: scaleX(0);
    transform-origin: top left;
    transition: all 300ms;
    transition-delay: 50ms;
  }
}

.controls {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 180px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }

  &__img {
    width: 40px;
    height: 40px;
  }

  &__menu {
    width: 35px;
    height: 30px;
    cursor: pointer;
  }

  &__close {
    display: none;
  }
}

.global-nav_expand > .global-nav__options {
  transform: scaleX(1);
  z-index: 4;
}

.global-nav_expand .controls__close {
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.global-nav_expand .controls__menu {
  display: none;
}

.search-cities {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media (max-width: 720px) {
  .global-nav__options {
    width: 300px;
    z-index: 2;
  }
  .controls__logo {
    width: 160px;
  }
}
