.global-nav {
  background-color: rgba(27, 125, 161, 0.9);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  &__options {
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100% - 50px);
    width: 400px;
    background-color: rgba(52, 154, 191, 0.8);
    flex-direction: column;
    justify-content: center;
    transform: scaleX(0);
    transform-origin: top left;
    transition: all 300ms;
    transition-delay: 50ms;
  }
}
.controls {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    width: 180px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }

  &__img {
    width: 40px;
    height: 40px;
  }
  &__menu {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
.global-nav_expand > .global-nav__options {
  transform: scaleX(1);
}
.global-nav_expand .global-nav__option {
  opacity: 1;
}
.search-cities {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}